@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  background: #FFFFFF;
}

.display-none {
  display: none;
}

nav {
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .1);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: 20%;
}

.menu li {
  color: #acacac;
  font-weight: bold;
}

.menu li:hover {
  color: #008156;
  font-weight: bold;
}

.toggle-menu {
  color: #008156;
  align-items: center;
  cursor: pointer;
}
ul {
  display: flex;
  padding: 0;
}

li {
  list-style: none;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.popbox {
  display: none;
  position: absolute;
  z-index: 99999;
  margin-right: 21%;
  top: 5.875em;
  right: 0;
  width: 280px;
  height: 300px;
  background-image: url('../img/login_area.png');
  background-size: 280px 300px;
  text-align: center;
}

h1.login-title{
  font-size: 24px;
  color: #008156;
  font-weight: bold;
  margin-top: 40px;
}

h2.login-content{
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  letter-spacing: -20;
  margin-top: 12px;
}

.check-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

label.remember-check{
  font-size: 12px;
  font-weight: 400;
  opacity: 60%;
  margin-left: 8px;
}

input[type='radio']{
  width: 15px;
  height: 15px;
  background: url('../img/radio_unselected.png') 0 0 no-repeat;
  -webkit-appearance: none;
  -webkit-border: 0px;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
}

input[type='radio']:checked{
  background: url('../img/radio_selected.png') 0 0;
}


.login-btn{
  margin-top: 20px;
}

@media (max-width: 1140px) {
  nav {
    flex-direction: column;
    width: 100vw;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
  }

  .logo-container {
    margin : 0px;
  }

  .logo {
    padding: 10px;
  }

  .toggle-menu {
    display: flex;
  }

  .menu {
    flex-direction: column;
    display: none;
  }

  li {
    display: flex;
    justify-content: center;
  }

  .active {
    display: flex;
  }
  .popbox {
    display: none;
  }
}
